html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-size: 200 px;
    font-family: "Lexend", serif;
    color: lightblue;
    overflow-x: hidden;
}

.my_nav_bar {
    text-align: center;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    z-index: 99999;
}

.menu {
    text-align: left;
    position: absolute;
    top: 0px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

.links {
    display: inline;
    width: 100%;
    height: 800px;
}

#words {
    color: lightblue;
    font-family: "Lexend", serif;
    font-size: 17px;
    padding: 25px;
}

#homeline {
    height: 3px;
    background-color: white;
    width: 750px;
    margin: 8px auto;
}

.line {
    height: 2px;
    background-color: white;
    width: 1100px;
    margin: 8px auto;
}

#heading {
    font-size: 30px;
    animation: fadeIn 1.5s;
}

video {
    width: 400px;
    height: auto;
}

#homei {
    padding-right: 30px;
}

#header {
    animation: fadeIn 1.5s;
}

#subheader {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#typeinfo {
    font-size: 18px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 20px;
}

#homeinfo {
    font-size: 18px;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 20px;
}

#homeinfo>mark {
    background: #f07a60;
    ;
    padding: 1px;
    margin: 1px;
    border-radius: 3px;
}

#videoinfo {
    font-size: 18px;
    text-align: left;
    padding-bottom: 20px;
}

video {
    width: 600px;
    height: auto;
}

#typeinfo2 {
    font-size: 18px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 20px;
}

#typeinfo3 {
    font-size: 18px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 20px;
}

.footer {
    font-size: 18px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#secondinfo {
    font-size: 18px;
    text-align: left;
}

#home {
    width: 550px;
}

#subtitle {
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

#feature {
    width: 500px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: red;
}

#feature:hover {
    background-color: #555;
}

#featureinfo {
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    color: rgb(228, 102, 102);
}

#myModal1 {
    backdrop-filter: blur(1.5px);
    /* Apply blur effect */
}

.teams8 {
    font-size: 18px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 75%;
    display: block;
    margin: 0 auto;
    background-color: #1569c2;
}

.teams8 i {
    float: right;
}

#ahhinfo {
    font-size: 18px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #041423;
    color: white;
}

#myModal {
    font-size: 50px;
    backdrop-filter: blur(3px);
}

#quiz {
    text-align: left;
}

#quiz2 {
    display: none;
}

#nextq {
    display: block;
}

#quiz3 {
    display: none;
}

#nextq2 {
    display: none;
}

#scorebtn {
    display: none;
    margin-left: 645px;
    margin-top: 20px;
}

#title {
    color: black;
}

#hello {
    border: 2px black;
}

#global1 {
    position: center;
    width: 70%;
    left: 15%;
    top: 60%;
    padding: 30px;
    margin-left: 150px;
}

#fimg {
    padding-top: 30px;
    width: 20%;
    float: left;
    border-color: black;
    cursor: pointer;
}

#global1text {
    font-size: 18px;
    background-color: #041423;
    color: white;
    text-align: center;
    height: 230px;
    width: 1000px;
    padding-top: 60px;
    padding-left: 30px;
}

#global2 {
    position: center;
    width: 70%;
    left: 15%;
    top: 80%;
    padding: 30px;
    margin-left: 150px;
}

#avimg {
    padding-top: 30px;
    width: 20%;
    float: left;
    border-color: black;
    cursor: pointer;
}

#global2text {
    font-size: 18px;
    background-color: #041423;
    color: white;
    text-align: center;
    height: 230px;
    width: 1000px;
    padding-top: 60px;
    padding-left: 30px;
}

#global3 {
    position: center;
    width: 70%;
    left: 15%;
    top: 100%;
    padding: 30px;
    margin-left: 150px;

}

#tmimg {
    padding-top: 30px;
    width: 20%;
    float: left;
    border-color: black;
    cursor: pointer;
}

#global3text {
    font-size: 18px;
    background-color: #041423;
    color: white;
    text-align: center;
    height: 230px;
    width: 1000px;
    padding-top: 60px;
    padding-left: 30px;
}

#global4 {
    position: center;
    width: 70%;
    left: 15%;
    top: 120%;
    padding: 30px;
    margin-left: 150px;
}

#sgimg {
    padding-top: 30px;
    width: 20%;
    float: left;
    border-color: black;
    cursor: pointer;
}

#global4text {
    font-size: 18px;
    background-color: #041423;
    color: white;
    text-align: center;
    height: 230px;
    width: 1000px;
    padding-top: 60px;
    padding-left: 30px;
}

#global5 {
    position: center;
    width: 70%;
    left: 15%;
    top: 140%;
    padding: 30px;
    margin-left: 150px;
}

#unicalimg {
    padding-top: 30px;
    width: 20%;
    float: left;
    border-color: black;
    cursor: pointer;
}

#global5text {
    font-size: 18px;
    background-color: #041423;
    color: white;
    text-align: center;
    height: 230px;
    width: 1000px;
    padding-top: 60px;
    padding-left: 30px;
}

#global6 {
    position: center;
    width: 70%;
    left: 15%;
    top: 160%;
    padding: 30px;
    margin-left: 150px;
}

#zimg {
    padding-top: 5px;
    width: 20%;
    float: left;
    border-color: black;
    cursor: pointer;
}

#global6text {
    font-size: 18px;
    background-color: #041423;
    color: white;
    text-align: center;
    height: 230px;
    width: 1000px;
    padding-top: 60px;
    padding-left: 30px;
}

.modal-content {
    margin-left: 75px;
    margin-top: 35px;
    width: 1250px;
    background-color: aliceblue;
}

#buttbutton {
    width: 500px;
}

#img1 {
    width: 20%;
    margin-right: 1000px;
    margin-bottom: -50px;
    cursor: pointer;
}

#img1:hover {
    transform: scale(1.25);
}

#img2 {
    width: 12%;
    margin-top: -175px;
    margin-left: -375px;
    cursor: pointer;
}

#img2:hover {
    transform: scale(1.25);
}

#img3 {
    width: 22%;
    margin-top: -350px;
    margin-left: 275px;
    margin-bottom: -90px;
    cursor: pointer;
}

#img3:hover {
    transform: scale(1.25);
}

#img4 {
    width: 15%;
    height: 15%;
    margin-top: -350px;
    margin-left: 950px;
    cursor: pointer;
}

#img4:hover {
    transform: scale(1.25);
}

.modal-content2 {
    margin-left: 75px;
    margin-top: 250px;
    width: 1250px;
    background-color: aliceblue;
}

#theend {
    font-size: 18px;
    display: none;
}

.inputs {
    width: 250px;
    color: black;
}

#attackinfo {
    font-size: 18px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: black;
}

#title {
    color: black;
}

#topBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover {
    background-color: #555;
}

#listening {
    text-align: left;
    margin-left: 75px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

td {
    padding-bottom: 20px;
    padding-left: 30px;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717177;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ffffff;
}

/* Fading animation */
.fade {
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes slide {
    0% {
        left: -100%;
        /* Or -100% if sliding from left */
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

#speechtext {
    font-size: 16px;
}